mat-toolbar {
  justify-content: space-between;
}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

a{
  text-decoration: none;
}
.mat-toolbar.mat-primary {
  background: #34393a;
  color: #fff;
}


a{color: rgb(255, 255, 255);}

