mat-toolbar {
  background-color: rgb(40, 42, 55);
  height: 80px;
  /* font-family: 'FontAwesome'; */
}
span {
  color: #fff;
}
nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #e6e6e6;
  cursor: pointer;
}
a:hover {
  color:rgb(243, 109, 64);
}
