mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 300px;
  background-color: rgb(237, 231, 52);
  color: #fff;
  padding: 1rem;
}

a {
  text-decoration: none;
}

.item-text {
  color: rgb(85, 85, 85);
}

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
  color: rgb(85, 85, 85);
}

button {
  background-color: rgb(85, 85, 85);
  color: #fff;
}

