<mat-sidenav-container>
  <mat-sidenav #snav>
    <div style="display: flex; justify-content: center" *ngIf="loading">
      <mat-spinner

        diameter="40"
        color="Accent"
        value="determinate"
      ></mat-spinner>
    </div>

    <mat-list *ngIf="!loading">
      <div *ngFor="let item of navMenu.children">
        <div *ngIf="item.children.length > 0; else hasNoChildren">
          <mat-list-item
            *ngIf="item.role === userData.role || item.role.length === 0"
          >
            <mat-icon matListItemIcon>
              {{ item.icon }}
            </mat-icon>
            <div matListItemTitle class="item-text">
              {{ item.displayName }}
            </div>
            <div *ngFor="let childOfItem of item.children">
              <a [routerLink]="[childOfItem.router]"  *ngIf="childOfItem.role === userData.role || childOfItem.role.length === 0" >
                <mat-list-item>
                  <mat-icon matListItemIcon>
                    {{ childOfItem.icon }}
                  </mat-icon>
                  <div matListItemTitle class="item-text">
                    {{ childOfItem.displayName }}
                  </div>
                </mat-list-item>
              </a>
            </div>
          </mat-list-item>
        </div>

        <ng-template #hasNoChildren>
          <a
            [routerLink]="[item.router]"
            *ngIf="item.role === userData.role || item.role.length === 0"
          >
            <mat-list-item>
              <mat-icon matListItemIcon>
                {{ item.icon }}
              </mat-icon>
              <div matListItemTitle class="item-text">
                {{ item.displayName }}
              </div>
            </mat-list-item>
          </a>
        </ng-template>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
