mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 300px;
  background-color:  #4831D4;
  ;
  color: #fff;
  padding: 1rem;

}


a {
  text-decoration: none;

}

.item-text {
  color: #CCF381;
}

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start{
  color: #CCF381;
}


button{
  background-color: #3d155f;
  color: #CCF381;

}
/* */
