<div class="contanier">
  <div class="cont">
    <div class="about-l">
      <h1>Launch and manage</h1>
      <h1><span>your business</span></h1>
      <h1>from anywhere.</h1>
      <p>
        StartGlobal makes it easier than ever to start a new business by <br />
        removing lengthy paperwork, legal complexity, and numerous <br />
        fees. We handle company formation, business bank account, taxes,
        accounting,<br />
        compliance, and more.
      </p>

      <button
        class="button"
        [routerLink]="['/auth/signup']"
        style="vertical-align: middle"
      >
        <span>Get started </span>
      </button>
    </div>

    <div class="about-r">
<img id="img-s" src="https://firebasestorage.googleapis.com/v0/b/final-project-4930a.appspot.com/o/files%2Fweb-imgs%2Fstartup-development_1284-22687.webp?alt=media&token=db031c8e-7b53-43ff-85ad-c2a97127ff64" alt="">
    </div>
  </div>

  <h2 style="text-align: center">Startups</h2>
<app-startup>

</app-startup>


</div>
