<!-- <div class="preview">
  <div class="preview-card">
    <img class="logo" [src]="startup.logo" alt=" " />
    <div class="word">
      <h1>{{ startup.name }}</h1>
      <h4>{{ startup.emailAddress }}</h4>
      <p>{{ startup.city }}</p>
      <h2 *ngFor="let item of startup.sectors">{{ item.name }}</h2>
      <div class="col">
        <h4>{{ startup.yearOfEstablish }}</h4>
        <h4>{{ startup.numberOfEmployees }}</h4>
        <h4>{{ startup.websiteUrl }}</h4>
      </div>
    </div>
  </div>
</div> -->



<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ startup.name }}</mat-card-title>
    <mat-card-subtitle>{{ startup.emailAddress }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="startup.logo" alt="" />
  <mat-card-content>
    <p>{{ startup.websiteUrl }}</p>
  </mat-card-content>
  <mat-card-actions>
    <h2 *ngFor="let item of startup.sectors">{{item.name}}</h2>

  </mat-card-actions>
</mat-card>
