<div class="contanier">
  <div class="cont">
    <div class="about-l">
      <h1>Launch and manage</h1>
      <h1><span>your business</span></h1>
      <h1>from anywhere.</h1>
      <p>
        StartGlobal makes it easier than ever to start a new business by <br />
        removing lengthy paperwork, legal complexity, and numerous <br />
        fees. We handle company formation, business bank account, taxes,
        accounting,<br />
        compliance, and more.
      </p>

      <button
        class="button"
        [routerLink]="['/auth/signup']"
        style="vertical-align: middle"
      >
        <span>Get started </span>
      </button>
    </div>

    <div class="about-r">
      <img
        id="img-s"
        src="https://firebasestorage.googleapis.com/v0/b/final-project-4930a.appspot.com/o/files%2Fweb-imgs%2Fh77777ow-to-get-startup-ideas%20(1).png?alt=media&token=7b657b60-e4e0-4a96-939e-dffb27cbdaee"
        alt=""
      />
    </div>
  </div>
  <div class="about-min">
<h1>About section</h1>
<p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi
  corrupti iure quia ipsa magni temporibus nam laudantium, dolore deleniti
  voluptates dolorem id alias hic earum neque error eaque quis?</p>
  </div>
  <h2 style="text-align: center">Startups</h2>
</div>
