.container {
  width: 100%;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 422px;
  width: 460px;
  background-color: rgba(229 198 188 / 10%);
  border-radius: 28px;
  transition: 0.1s ease-out;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.card:not(:first-child) {
  margin-left: -10px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;
}

.title {
  color: #000000;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;

}


.about-min{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
