
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Login</h3>
  <mat-form-field appearance="outline" class="field-width" >
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email">
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline" class="field-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password" >
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <button (click)="onloginClicked()">Log In</button>
  <p>Don't have an account yet? <a [routerLink]="['/auth/signup']">create account?</a> </p>


</form>
